<h2 mat-dialog-title>{{dialogBaslik}}</h2>
<mat-dialog-content>
<form [formGroup]="form">  
  <mat-form-field appearance="fill">
    <mat-label>Kurs Ad</mat-label>
    <input matInput formControlName="kursAd" name="kursAd" type="text" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kurs Fiyat</mat-label>
    <input matInput formControlName="kursFiyat" name="kursFiyat" type="text" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kurs İçerik</mat-label>
    <input matInput formControlName="kursIcerik" name="kursIcerik" type="text" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kurs Kategori Id</mat-label>
    <input matInput formControlName="kursKategoriId" name="kursKategoriId" type="text" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kurs Eğitmen Id</mat-label>
    <input matInput formControlName="kursEgitmenId" name="kursEgitmenId" type="text" required>
  </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close (click)="dialogRef.close(form.value)">Ekle</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button color="warn"mat-button [mat-dialog-close]="true">Vazgeç</button>
</mat-dialog-actions>
