<br>
<div>
  <button (click)="uyeekle()" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>add</mat-icon>
  </button>
  
</div>

<br>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="uyeAd">
    <th mat-header-cell *matHeaderCellDef> Üye Adı </th>
    <td mat-cell *matCellDef="let uye"> {{uye.uyeAd}} </td>
  </ng-container>

  <ng-container matColumnDef="uyeSoyad">
    <th mat-header-cell *matHeaderCellDef> Üye Soyadı </th>
    <td mat-cell *matCellDef="let uye"> {{uye.uyeSoyad}} </td>
  </ng-container>

  <ng-container matColumnDef="uyeTel">
    <th mat-header-cell *matHeaderCellDef> Telefon </th>
    <td mat-cell *matCellDef="let uye"> {{uye.uyeTel}} </td>
  </ng-container>

  <ng-container matColumnDef="uyeMail">
    <th mat-header-cell *matHeaderCellDef> Mail </th>
    <td mat-cell *matCellDef="let uye"> {{uye.uyeMail}} </td>
  </ng-container>

  <ng-container matColumnDef="uyeParola">
    <th mat-header-cell *matHeaderCellDef> Parola </th>
    <td mat-cell *matCellDef="let uye"> {{uye.uyeParola}} </td>
  </ng-container>

  <ng-container matColumnDef="uyeYetki">
    <th mat-header-cell *matHeaderCellDef> Yetki </th>
    <td mat-cell *matCellDef="let uye"> {{uye.uyeYetki}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Duzenle">
    <th mat-header-cell *matHeaderCellDef> Duzenle </th>
    <td mat-cell *matCellDef="let uye"> <button (click)="uyeduzenle(uye)" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>edit</mat-icon>
    </button> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Sil">
    <th mat-header-cell *matHeaderCellDef> Sil </th>
    <td mat-cell *matCellDef="let uye"> <button (click)="uyesil(uye.uyeId)" mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>delete</mat-icon>
    </button>
   </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


